.budget-main {
  border: 5px solid black;
  width: fit-content;

  /* padding: 2rem 2rem; */
  /* width: 20rem;
  height: 20rem; */
}
.title {
  border-bottom: 2px solid black;
  border-bottom-width: 100%;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.sub-part {
  display: flex;
  line-height: 2rem;
  margin: 1rem 1rem;
  margin-right: 2rem;
}
.circle {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
  border: 5px solid blue;
  /* background: black; */
  border-radius: 50%;
}
.status {
  display: flex;
  flex-direction: column;
}
